@import url('https://fonts.googleapis.com/css2?family=Inter&family=Paytone+One&display=swap');

:root {
    --delay: 0;
    --duration: 800ms;
    --iterations: 1;
}

.textPrincStart {
    color: #FFF;
    font-family: Paytone One;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: default;
    transition: background-color 0.3s ease-in-out;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    animation-name: clip-text;
    color: #FFF;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

.spanPontoStart {
    color: #00E833;
    font-family: Paytone One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divPrincStart {
    position: absolute;
    top: 20%;
    left: 20%;
}

.frontEndStart {
    color: #00E833;
    font-family: Paytone One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    position: relative;
}

.h2frontStart {
    color: #FFF;
    font-family: Pavanam;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 2.5em;
    cursor: default;
    transition: background-color 0.3s ease-in-out;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    animation-name: clip-text;
    color: #FFF;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

.h3frontStart {
    color: #FFF;
    font-family: Pavanam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 70%;
    position: absolute;
    top: 7em;
    cursor: default;
    transition: background-color 0.3s ease-in-out;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    animation-name: clip-text;
    color: #FFF;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

.spanBemVindoStart {
    color: #00E833;
    font-family: Paytone One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaoStart {
    border-radius: 10px;
    background: #09b32d;
    width: 120px;
    height: 48px;
    border-bottom: 10px;
    position: absolute;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    top: 19em;
    animation-name: clip-text;
    color: #FFF;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

.emailStart {
    color: #FFF;
    font-family: Pavanam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .divPrinc {
        top: 10%;
        left: 15%;
    }

    .textPrincStart {
        font-size: 30px;
        width: 100%;
    }

    .spanPontoStart {
        font-size: 40px;
    }

    .h2frontStart {
        font-size: 28px;
        top: 4em;
        width: 80%;
    }

    .frontEndStart {
        font-size: 28px;
    }

    .h3frontStart {
        top: 11em;
        width: 95%;
    }

    .botaoStart {
        top: 30em;
    }

}

::selection {
    background-color: rgb(22, 22, 22);
    color: #00E833;
}

.textPrincStart,
.textPrincStart::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.h2frontStart,
.h2frontStart::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.h3frontStart,
.h3frontStart::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.botaoStart,
.botaoStart::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes text-revealer {

    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }


    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}