body::-webkit-scrollbar {
    width: 1px;
}

.item__container {
    justify-Content: center;
    position: relative;
    left: 20em;
    top: 10em;
}

.custom_img {
    margin-top: -2em;
}

.item__p {
    margin-Top: -2.5em;
    margin-left: 2.5em;
    color: #FFF;
    font-family: Paytone One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    animation-name: clip-text;
    color: #FFF;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

.linhaProjetos {
    width: 50%;
    margin: 0.7em;
    background: #FFF;
    height: 1px;
}

.item__h1 {
    color: #FFF;
    font-family: Paytone One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    color: #FFF;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

.item__span {
    color: #00E833;
    font-family: Paytone One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__text {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20em;
    top: 2em;
}

.item__svg__h1 {
    width: 28em;
    margin: 0.7em;
    background: #FFF;
    height: 1px;
}

.git {
    position: relative;
    left: 20em;
    width: 30px;
    height: 30px;
    margin-top: -4.5em;
    z-index: 9999;
    --animation-delay: var(--delay, 3s);
    --animation-duration: var(--duration, 900ms);
    --animation-iterations: var(--iterations, 3);
    animation-name: clip-text;
    color: #FFF;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background-color: #00E833;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
    }
}

@media screen and (max-width: 768px) {
    .item__container {
        width: 60%;
        justify-Content: center;
        position: absolute;
        left: 1em;
        top: 9em;
    }

    .item__text {
        left: 3.5em;
        align-items: center;
        top: 5em;
    }

    .item__svg__h1 {
        width: 9em;
        top: 2em;
        position: relative;
        margin-top: -4.5em;
    }

    .item__h1 {
        font-size: 30px;
        top: -0.4em;
        position: relative;
    }

    .item__span {
        font-size: 30px;
    }
}

.item__h1,
.item__h1::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.git,
.git::after {
    animation-delay: var(--animation-delay, 3s);
    animation-iteration-count: var(--iterations, 3);
    animation-duration: var(--duration, 900ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.item__p,
.item__p::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes text-revealer {

    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }


    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}