.linkedin {
    width: 20px;
    height: 20px;
    viewBox: 0 0 20 20;
    fill: none;
    left: 5%;
    top: 3%;
    position: fixed;
}

.github {
    width: 20px;
    height: 20px;
    viewBox: 0 0 20 20;
    fill: none;
    left: 7%;
    top: 3%;
    position: fixed;
}

.alura {
    width: 40px;
    height: 20px;
    viewBox: 0 0 20 20;
    fill: none;
    left: 9%;
    top: 3%;
    position: fixed;
}

@media screen and (max-width: 768px) {
    .linkedin {
        left: 12%;
        top: 1%;
        position: fixed;
    }

    .github {
        left: 19%;
        top: 1%;
        position: fixed;
    }

    .alura {
        left: 26%;
        top: 1%;
        position: fixed;
    }
}