.linkedin {
    width: 20px;
    height: 20px;
    viewBox: 0 0 20 20;
    fill: none;
    left: 5%;
    top: 2.5%;
    position: fixed;
}

.github {
    width: 20px;
    height: 20px;
    viewBox: 0 0 20 20;
    fill: none;
    left: 7%;
    top: 2.5%;
    position: fixed;
}

.alura {
    width: 40px;
    height: 20px;
    viewBox: 0 0 20 20;
    fill: none;
    left: 9%;
    top: 2.5%;
    position: fixed;
}

@media screen and (max-width: 768px) {
    .linkedin {
        left: 14%;
        top: 2%;
        position: fixed;
    }

    .github {
        left: 22%;
        top: 2%;
        position: fixed;
    }

    .alura {
        left: 30%;
        top: 2%;
        position: fixed;
    }
}